body,
html {
	margin: 0;
	background: blue;
	color: white;
}
.item {
	@extend .d-1-6;

	@include tablet {
		@extend .t-1-3;
	}
	@include phone {
		@extend .p-1-2;
	}
	margin: $base-spacing-unit 0;
}

