@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);

h1, h2, h3, p, a, body {
	font-family: Roboto Mono, sans-serif;
}
h1 {
	font-size: 2*$base-font-size;
	line-height: 2.4*$base-font-size;
	font-weight: 700;
}
h2 {
	font-size: 1.5*$base-font-size;
	line-height: 1.8*$base-font-size;
	font-weight: 700;
}
p,
a {
	font-size: $base-font-size;
	line-height: 1.25*$base-font-size;
}